.menu {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: #dcdcdc;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
}

.a {
    text-decoration: 0;
    color: #000000;
    margin: 0 20px;
}

.but {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0);
    border: 0;
}

.a:hover,
.but:hover {
    text-decoration: underline;
}

.title {
    margin: 80px 0 40px;
    text-align: center;
}
