.menu {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: gainsboro;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.links {
    display: flex;
}

.a {
    text-decoration: none;
    color: black;
    margin: 0 20px;
}

.but {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0);
    border: none;
}

.a:hover, .but:hover {
    text-decoration: underline;
}

#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* html {
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  .container-for-google-maps {
    box-sizing: initial;
  } */
  