.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);            
    border: black 1px solid;
    padding: 20px 30px;
    width: 400px;
    text-align: center;
}

.p {
    margin: 20px 0 10px;
    font-size: 15px;
}

.title {
    margin: 0 0 30px;
}

.input {
    width: 200px;
    margin: 0 auto;
    display: block;
    padding: 5px;
}

.but {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0);
    border: none;
}

.but0 {
    background-color: rgb(255, 255, 255, 0);
    border: none;
}

.but:hover {
    text-decoration:underline;
}

.but0:hover {
    text-decoration:underline;
}

.buttons {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.messerror {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);            
    border: black 1px solid;
    padding: 20px 30px;
    width: 300px;
    background-color: white;
    text-align: center;
}

.close {
    cursor: pointer;
    border: none;
    background-color: rgb(255, 255, 255, 0); 
    position: absolute;
    right: 5px;
    top: 10px;
}

.err {
    position: absolute;
    bottom: -17px;
    right: 0;
    left: 0;
    margin: 0 auto;
    color: red;
    display: none;
}

.diverror {
    position: relative;
    display: flex;
}